{% extends "regsys/fbase.html" %}
{% block content %}
	<h1 style="margin-top: 0">Faculty Profile</h1><br><br> 
	<table>
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
			<th>Address</th>
			<th>Mobile</th>
			<th>Edit</th>
		</tr>
		{% for s in staff %}
		<tr>
			<th>{{s.staffName}}</th>
			<th>{{s.name}}</th>
			<th>{{s.email}}</th>
			<th>{{s.address}}</th>			
			<th>{{s.phone_number}}</th>
			<th><a class="btn btn-sm btn-info" href="{% url 'regsys-editFacultyInfo' %}">Edit Info</a></th>
		</tr>
		{% endfor %}
	</table>
{% endblock content %}