{% extends "regsys/adminBase.html" %}
{% block content %}
	<h1 style="margin-top: 0">STUDENT ENROLLMENT INFORMATION</h1><br><br> 

	<div class="row-12">
		<div class="col-12">
			<div class="card card-body">
			<form method="get">
				{{myFilter.form}}
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
			</div>
		</div>
	</div>
	<table>
		<tr>
			<th>Student ID</th>
			<th>Current Year</th>
			<th>Current Semester</th>
			<th>Grade</th>
			<th>Course Number</th>
			<th>Section Number</th>
			<th>Staff</th>
		</tr>

		{% for e in enrollments %}
			<tr>
				<td>{{ e.stud_id }}</td>
				<td>{{ e.year }}</td>
				<td>{{ e.semester }}</td>
				<td>{{ e.grade }}</td>
				<td>{{ e.course_no }}</td>
				<td>{{ e.section_no }}</td>
				<td>{{ e.staff }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}