{% extends "regsys/base.html" %}
{% block content %}
	<div id="main">
		<button class="openbtn" onclick="openNav()">☰</button> 
		<h1 style="margin-top: 0">Student Profile</h1><br><br> 

		<table>
			<tr>
				<th>Student ID</th>
				<th>User Name</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Mobile</th>
				<th>Address</th>
				<th></th>
			</tr>
			{% for s in student %}
			<tr>
				<th>{{s.student_id}}</th>
				<th>{{s.userName}}</th>
				<th>{{s.name}}</th>
				<th>{{s.gender}}</th>
				<th>{{s.mob_no}}</th>
				<th>{{s.address}}</th>
				<th><a href="{% url 'regsys-editinfo' %}">Edit Info</a></th>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}
