{% extends "regsys/base.html" %}
{% block content %}
	<div id="main">
		<button class="openbtn" onclick="openNav()">☰</button> 
		<h1 style="margin-top: 0">Student Profile</h1><br><br> 

		<table>
			<tr>
				<th>Student Id</th>
				<th>Student Name</th>
				<th>Gender</th>
				<th>Address</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>SSN</th>
				<th>Major</th>
				<th>GPA</th>
			</tr>
			{% for s in student %}
			<tr>
				<th>{{s.userName}}</th>
				<th>{{s.name}}</th>
				<th>{{s.gender}}</th>
				<th>{{s.address}}</th>
				<th>{{s.email}}</th>
				<th>{{s.mob_no}}</th>
				<th>{{s.ssn}}</th>
				<th>{{s.dep_code}}</th>
				<th>{{s.gpa}}</th>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}
