{% extends "regsys/base.html" %}
{% block content %}
	<h1 style="margin-top: 0">Student Profile</h1><br><br> 
	<table>
		<tr>
			<th>User Name</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Address</th>
			<th>Mobile</th>
			<th>Edit</th>
		</tr>
		{% for s in student %}
		<tr>
			<th>{{s.userName}}</th>
			<th>{{s.name}}</th>
			<th>{{s.gender}}</th>
			<th>{{s.address}}</th>
			<th>{{s.phone_number}}</th>
			<th><a class="btn btn-sm btn-info" href="{% url 'regsys-editinfo' %}">Edit Info</a></th>
		</tr>
		{% endfor %}
	</table>
{% endblock content %}
