{% extends "regsys/adminBase.html" %}
{% block content %}
	<h1 style="margin-top: 0">UPDATE COURSE</h1><br><br> 
	<div class="row-12">
		<div class="col-12">
		  <div class="card card-body">
			<form method="get">
			  {{myFilter.form}}
			  <button class="btn btn-primary" type="submit">Search</button>
			</form>
		  </div>
		</div>
	  </div>
	<table border='1'>
		<tr>
			<th>Section Number</th>
			<th>Course Name</th>
			<th>Year</th>
			<th>Semester</th>
			<th>Weekday</th>
			<th>Start</th>
			<th>End</th>
			<th>Current Enrollment</th>
			<th>Max Enrollment</th>
			<th>Faculty</th>
			<th>Building</th>
			<th>Update Info</th>
		</tr>
		{% for s in up_course %}
		<tr>
			<th>{{s.section_no}}</th>
			<th>{{s.course_no}}</th>
			<th>{{s.year}}</th>
			<th>{{s.semester}}</th>
			<th>{{s.weekday}}</th>
			<th>{{s.start}}</th>
			<th>{{s.end}}</th>
			<th>{{s.current_enrollment}}</th>
			<th>{{s.max_enrollment}}</th>
			<th>{{s.staff_id}}</th>
			<th>{{s.building_code}}</th>
			<th>
				<a href="{%url 'regsys-update' s.section_no %}">Update</a>
			</th>
		</tr>
		{% endfor %}
	  </table>
{% endblock content %}